<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIPageViewControllerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D90ECA31C27CFA7009A3C14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D90ECB71C27CFA8009A3C14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D90ECC21C27CFA8009A3C14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
